@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: 'Arial', serif;
    width: 30%;
    padding: 1rem;
}

section {
    box-shadow: .4rem .3rem .7rem .5rem #acacac21;
    padding: 1rem;
    margin: 1.25rem 0;
    border-radius: 1rem;
    transition: transform .4s ease-in-out;
}

section:hover {
    transform: scale(1.03);
}

.line {
    background-color: black;
    width: 100%;
    height: 2px;
}

.position {
    font-weight: 700;
}

.user-contacts p {
    line-height: 8px;
}

.user-contacts a {
    color: black;
    text-decoration: none;
}

.place {
    color: rgb(23, 91, 180);
}

footer a {
    text-decoration: none;
    color: rgb(74, 190, 70);
}

/* Optional color styles */
.green { font-size: 1.5rem; color: rgb(74, 190, 70); }